@font-face {
    font-family: 'Press Start 2P';
    src: url('@/shared/fonts/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('@/shared/fonts/Roboto-Regular.ttf');
}

html {
    height: max-content;
    width: max-content;
}

body {
    margin: 0px;
}

.header {
    font-size: 2rem;
    font-family: 'Press Start 2P';
}

.text {
    font-family: 'Roboto';
    font-size: 1.4rem;
}

input[type='radio'] {
    margin: 0 10px 0 0;
    width: 1.2rem;
    height: 1.2rem;
}

input[type='radio']:checked {
    accent-color: var(--font-color);
}

$border-radius-default: 32px;

:root {
    --color-primary-normal: #5dcec6;
    --color-primary-dark: #3a817c;
    --color-primary-light: #68e7dd;
    --color-error-normal: #ff0400;
    --color-error-light: #ff5451;
    --color-error-bg: #ffe5e4;
    --color-green-normal: #157f1f;
    --color-green-light: #1fc130;
    --color-green-lighter: #3ee04e;
    --color-green-bg: #e6fde8;
    --color-secondary: #808080;
    --color-background: #f2f6f9;
    --color-background-dark: #e2e6e9;
    --color-background-darker: #d2d6d9;

    --border-radius-md: 16px;
    --border-radius-sm: 8px;

    --btn-height-bg: 50px;
    --btn-height-sm: 40px;
    --btn-height-xs: 30px;
    --btn-height-xs: 30px;
    --btn-height-xxs: 20px;

    --font-family-main-text: 'Open Sans', sans-serif;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-size-h4: 1.7rem;
    --font-size-h5: 1.4rem;
    --font-size-h6: 1.2rem;
    --font-size-bg: 1.1rem;
    --font-size-normal: 1rem;
    --font-size-sm: 0.9rem;
    --font-size-xs: 0.8rem;
    --font-size-xxs: 0.7rem;

    --transition-time-normal: 150ms;
    --transition-time-slower: 200ms;

    --z-index-on-top: 100;
}

$breakpoint-2xl: 1546px;
$breakpoint-xl: 1280px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 640px;
$breakpoint-xs: 475px;

$section-padding-2xl: 30px 40px 30px 40px;
$section-padding-lg: 20px 20px 30px 20px;
$section-padding-xs: 10px 10px 16px 10px;

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
