$header-width: 400px;
$header-height: 50px;

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: max-content;
    min-width: 100vw;
    min-height: 100vh;
    color: var(--font-color, #000);
    background-color: var(--background-color, #fff);
    transition: background-color 300ms;
}

.app__header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    width: $header-width;
    left: calc(50vw - $header-width / 2);
    position: sticky;
}

.app__main {
    margin: auto;
    overflow: auto;
}

.app__main--loading {
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 100px;
    .canvas {
        opacity: 0;
    }
}

.app__main--loading::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 6px solid transparent;
    border-top-color: var(--color-background-dark);
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@media (max-width: 475px) {
    .app__header {
        width: 100%;
        padding-inline: 10px;
    }
}
