.menu {
    padding: 30px 40px 0 20px;
    height: 100%;
    bottom: 0px;
    left: 0px;
    z-index: calc(var(--z-index-on-top, 100) + 10);
    background-color: var(--background-color, #fff);
    position: fixed;
    overflow: hidden;
    opacity: 0;
    width: 0;
    box-sizing: border-box;
    padding-bottom: 0;
}

.menu-header {
    margin-bottom: 20px;
}

.menu__choose-size {
    margin-bottom: 30px;
}
